<% 
  let currentAlumno = null;
  let currentCurso = null;
%>


<div id="boletines-container">
  <%- include('../parciales/boletinesList', { boletines }) %>
</div>


<script src="/js/adminBoletines.js"></script>