<div class="bg-dark text-white position-fixed h-100" style="width: 200px; overflow-y: auto;">
  <div class="p-3">
    <h5>Panel Admin</h5>
    <hr class="text-secondary" />
    <ul class="nav flex-column">
      <li class="nav-item">
        <a href="/administracion" class="nav-link text-white">
          <i class="bi bi-person-fill me-2"></i> Alumnos
        </a>
      </li>
      <li class="nav-item">
        <a href="/profesores" class="nav-link text-white">
          <i class="bi bi-journal-richtext me-2"></i> Profesores
        </a>
      </li>
      <li class="nav-item">
        <a href="/admin/boletines" class="nav-link text-white">
          <i class="bi bi-file-earmark-bar-graph me-2"></i> Boletines
        </a>
      </li>
      <li class="nav-item">
        <a href="/admin/notas" class="nav-link text-white">
          <i class="bi bi-card-checklist me-2"></i> Calificaciones
        </a>
      </li>
    </ul>
  </div>
</div>
